body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.sketchpad{
    background-color: white;
    box-shadow: 5px 5px 10px rgb(156, 156, 156);
    width: min(50vw, 250px);
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: auto;
}
.square::before{
    content: '';
    display: block;
    padding-top: 100%;
}

.square:hover{
    background-color: rgb(177, 177, 177);
}
